.site-header {
    background-color: #325d88;
    padding: 22px 0;
    margin-bottom: 30px;
}

.site-header .custom-header {
    color: #ffffff;
    margin: 0;
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card-img-top-wrapper {
    overflow: hidden;
}

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.brand-logo {
    filter: drop-shadow(3px 3px 20px rgba(0,0,0,25));
    width: 35px; /* Уменьшаем размер логотипа */
    height: 35px;
    margin-right: 10px; /* Уменьшаем отступ справа */
    object-fit: contain;
}

.card-body .row .col-4 {
    font-size: 0.8rem;
}

.price-per-day {
    font-size: 1.2rem;
    color: #ff8411e9;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.bike-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 10px; /* Добавляем отступы по бокам */
}

.brand-model {
    display: flex;
    align-items: center;
    flex: 1; /* Позволяет контейнеру расширяться */
    margin-right: 10px; /* Добавляем отступ справа */
}

.brand-logo {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.card-title {
    font-family: 'Arial', sans-serif; /* Изменяем шрифт */
    font-size: 1.5rem; /* Изменяем размер шрифта */
    font-weight: bold; /* Делаем шрифт жирным */
    color: #326388; /* Меняем цвет текста */
    /* Остальные стили остаются без изменений */
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 40px);
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
