{% extends 'base.html' %}

{% block title %}Bike rental{% endblock %}

{% block header %}Bikes for rent{% endblock %}

{% block content %}
<div class="mb-4 text-center">
    <h2 class="slogan">Get the Ride You Deserve <br> Thousands of Motorcycles / Unbeatable Prices / Official Rental Providers Only!</h2>
</div>

<div id="typeFilters" class="mb-4">
    <h5 class="mb-3">Choose your style:</h5>
    <div class="row">
        {% for bike_type in bike_types %}
            <div class="col-md-3 mb-3">
                <div class="type-filter-item {% if bike_type.id|stringformat:"i" in selected_bike_types %}selected{% endif %}" data-bike-type="{{ bike_type.id }}" data-bike-type-name="{{ bike_type.type }}">
                    <img src="{{ bike_type.image.url }}" alt="{{ bike_type.type }}" class="img-fluid">
                    <p class="text-center mt-2">{{ bike_type.type }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="ridePurposeFilters" class="mb-4">
    <h5 class="mb-3">What type of ride are you planning?</h5>
    <div class="row">
        {% for ride_purpose in ride_purposes %}
            <div class="col-md-4 mb-3">
                <div class="ride-purpose-filter-item {% if ride_purpose.id|stringformat:"i" in selected_ride_purposes %}selected{% endif %}" data-ride-purpose="{{ ride_purpose.id }}">
                    <img src="{{ ride_purpose.image.url }}" alt="{{ ride_purpose.name }}" class="img-fluid">
                    <p class="text-center mt-2">{{ ride_purpose.name }}</p>
                </div>
                </div>
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <form id="filterForm" method="get" action="{% url 'bike_rental' %}">
            <div class="mb-3">
                <label class="form-label">Brand</label>
                <div id="brand-filter" class="d-flex flex-wrap justify-content-start align-items-center">
                    {% for brand in brands %}
                        <div class="brand-logo-container m-1 {% if brand.id|stringformat:"i" in selected_brands %}selected{% endif %}" data-brand="{{ brand.id }}">
                            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="brand-logo" title="{{ brand.name }}">
                        </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="brand" id="brand" value="{% if selected_brands %}{{ selected_brands|join:',' }}{% endif %}">
            </div>
            
            <div class="mb-3">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search by model" value="{{ request.GET.search }}">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Price</label>
                <div id="price-category-filter" class="d-flex justify-content-between">
                    <div class="price-category-item {% if 'Budget' in selected_price_categories %}selected{% endif %}" data-price-category="Budget">
                        <span>Budget</span>
                        <i class="bi bi-piggy-bank"></i>
                        <small>≤$50</small>
                    </div>
                    <div class="price-category-item {% if 'Standard' in selected_price_categories %}selected{% endif %}" data-price-category="Standard">
                        <span>Standard</span>
                        <i class="bi bi-cash-coin"></i>
                        <small>$51-$100</small>
                    </div>
                    <div class="price-category-item {% if 'Premium' in selected_price_categories %}selected{% endif %}" data-price-category="Premium">
                        <span>Premium</span>
                        <i class="bi bi-gem"></i>
                        <small>>$100</small>
                    </div>
                </div>
                <input type="hidden" name="price_category" id="price_category" value="{% if selected_price_categories %}{{ selected_price_categories|join:',' }}{% endif %}">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Pick your height:</label>
                <div id="seat-height-filter" class="d-flex justify-content-between">
                    <div class="seat-height-category-item {% if 'Low' in selected_seat_heights %}selected{% endif %}" data-seat-height="Low">
                        <span>Low</span>
                        <i class="bi bi-arrow-down-circle"></i>
                        <small><170 cm</small>
                    </div>
                    <div class="seat-height-category-item {% if 'Middle' in selected_seat_heights %}selected{% endif %}" data-seat-height="Middle">
                        <span>Middle</span>
                        <i class="bi bi-arrow-left-right"></i>
                        <small>170-180 cm</small>
                    </div>
                    <div class="seat-height-category-item {% if 'High' in selected_seat_heights %}selected{% endif %}" data-seat-height="High">
                        <span>High</span>
                        <i class="bi bi-arrow-up-circle"></i>
                        <small>>180 cm</small>
                    </div>
                </div>
                <input type="hidden" name="seat_height" id="seat_height" value="{% if selected_seat_heights %}{{ selected_seat_heights|join:',' }}{% endif %}">
            </div>
            
            <div class="mb-3">
                
                <div id="weight-filter" class="d-flex justify-content-between">
                    <label class="form-label">Bike weight:</label>
                    <div class="weight-category-item {% if 'Light' in selected_weights %}selected{% endif %}" data-weight="Light">
                        <span>Light</span>
                        <i class="bi bi-cloud"></i>
                        <small>≤120 kg</small>
                    </div>
                    <div class="weight-category-item {% if 'Middle' in selected_weights %}selected{% endif %}" data-weight="Middle">
                        <span>Middle</span>
                        <i class="bi bi-bicycle"></i>
                        <small>121-180 kg</small>
                    </div>
                    <div class="weight-category-item {% if 'Heavy' in selected_weights %}selected{% endif %}" data-weight="Heavy">
                        <span>Heavy</span>
                        <i class="bi bi-truck"></i>
                        <small>>180 kg</small>
                    </div>
                </div>
                <input type="hidden" name="weight" id="weight" value="{% if selected_weights %}{{ selected_weights|join:',' }}{% endif %}">
            </div>
            
            <div class="mb-3 text-center">
                <button id="expertFiltersBtn" type="button" class="btn btn-secondary w-100">
                    Expert Filters <i class="bi bi-chevron-down" id="expertFiltersIcon"></i>
                </button>
            </div>
            <div class="mt-3 mb-4">
                <h6>Debug: Hidden Inputs</h6>
                <pre>
                price_category: {{ selected_price_categories|join:',' }}
                seat_height: {{ selected_seat_heights|join:',' }}
                    weight: {{ selected_weights|join:',' }}
                </pre>
            </div>
            <div id="expertFilters" style="display: none;">
                <div class="mb-3">
                    <label for="transmission" class="form-label">Transmission</label>
                    <select name="transmission" id="transmission" class="form-select" multiple>
                        <option value="">All Transmissions</option>
                        {% for transmission in transmissions %}
                            <option value="{{ transmission }}" {% if transmission in selected_transmissions %}selected{% endif %}>{{ transmission }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="gears" class="form-label">Number of Gears</label>
                    <select name="gears" id="gears" class="form-select" multiple>
                        <option value="">All</option>
                        {% for gear in gears %}
                            <option value="{{ gear }}" {% if gear in selected_gears %}selected{% endif %}>{{ gear }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="fuel_system" class="form-label">Fuel System</label>
                    <select name="fuel_system" id="fuel_system" class="form-select" multiple>
                        <option value="">All</option>
                        {% for fs in fuel_systems %}
                            <option value="{{ fs }}" {% if fs in selected_fuel_systems %}selected{% endif %}>{{ fs }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="displacement" class="form-label">Engine (cc)</label>
                    <select name="displacement" id="displacement" class="form-select" multiple>
                        <option value="">All</option>
                        {% for disp in displacements %}
                            <option value="{{ disp }}" {% if disp in selected_displacements %}selected{% endif %}>{{ disp }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="clearance" class="form-label">Clearance (mm)</label>
                    <select name="clearance" id="clearance" class="form-select" multiple>
                        <option value="">All</option>
                        {% for size in clearances %}
                            <option value="{{ size }}" {% if size in selected_clearances %}selected{% endif %}>{{ size }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Apply Filters</button>
            </div>
            <input type="hidden" name="bike_type" id="bike_type" value="{{ selected_bike_types|join:',' }}">
            <input type="hidden" name="ride_purpose" id="ride_purpose" value="{{ selected_ride_purposes|join:',' }}">
            <input type="hidden" name="brand" id="brand" value="{% if selected_brands %}{{ selected_brands|join:',' }}{% endif %}">
            <input type="hidden" name="price_category" id="price_category" value="{% if selected_price_categories %}{{ selected_price_categories|join:',' }}{% endif %}">
            <input type="hidden" name="seat_height" id="seat_height" value="{% if selected_seat_heights %}{{ selected_seat_heights|join:',' }}{% endif %}">
            <input type="hidden" name="weight" id="weight" value="{% if selected_weights %}{{ selected_weights|join:',' }}{% endif %}">
        </form>
    </div>
    
    <div class="col-md-9">
        <div class="mt-3 mb-4">
            <h6>Applied Filters:</h6>
            <div id="appliedFiltersList">
                {% for key, values in applied_filters.items %}
                    <div class="applied-filter">
                        <span class="filter-name">{{ key }}:</span>
                        {% for value in values %}
                            <form method="get" action="{% url 'remove_filter' %}" class="d-inline">
                                {% for k, v in request.GET.items %}
                                    {% if k != key or v != value %}
                                        <input type="hidden" name="{{ k }}" value="{{ v }}">
                                    {% endif %}
                                {% endfor %}
                                <input type="hidden" name="filter_to_remove" value="{{ key }}">
                                <input type="hidden" name="value_to_remove" value="{{ value }}">
                                <button type="submit" class="btn btn-secondary btn-sm me-2 mb-2" data-filter="{{ key }}">
                                    {{ value }} <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                        {% endfor %}
                    </div>
                {% empty %}
                    <span>No filters applied</span>
                {% endfor %}
            </div>
        </div>
    
        <!-- Отладочный вывод -->
        <div class="mt-3 mb-4">
            <h6>Debug: Applied Filters Content</h6>
            <pre>
                {% for key, values in applied_filters.items %}
                    {{ key }}: {{ values }}
                {% endfor %}
            </pre>
        </div>

        <div class="mt-3 mb-4">
            <h6>{{ bike_rental_count }} 
                {% if bike_rental_count == 1 %}model{% else %}models{% endif %} available.
            </h6>
        </div>

        <div class="row mt-4">
            {% for bikemodel in bike_rental %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-img-top-wrapper position-relative">
                            {% if bikemodel.bike_model_photo %}
                                <img src="{{ bikemodel.bike_model_photo.url }}" alt="{{ bikemodel.model }}" class="card-img-top">
                            {% else %}
                                <span class="text-muted">Photo not available</span>
                            {% endif %}
                            {% with min_price=bikemodel.get_min_price_per_day %}
                                {% if min_price %}
                                    <div class="price-overlay">
                                        <p class="mb-0"><i class="bi bi-currency-dollar" title="Price per day"></i> from: <br> {{ min_price }} $/day</p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="brand-model-overlay">
                                {% if bikemodel.brand.logo %}
                                    <img src="{{ bikemodel.brand.logo.url }}" alt="{{ bikemodel.brand.name }} logo" class="brand-logo">
                                {% endif %}
                                <h5 class="card-title">{{ bikemodel.model }}</h5>
                            </div>
                
                            <div class="specs-container">
                                <div class="row specs-row mb-2">
                                    {% with specs=bikemodel.get_specs_with_icons %}
                                        {% for spec, data in specs %}
                                            <div class="col-4 text-center">
                                                <i class="bi {{ data.icon }}" title="{{ spec|title }}"></i> {{ data.value }}
                                            </div>
                                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                                </div><div class="row specs-row mb-2">
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <p class="mb-0"><i class="bi bi-bicycle"></i> 
                                    {{ bikemodel.bike_set.count }} 
                                    {% if bikemodel.bike_set.count == 1 %}offer{% else %}offers{% endif %}
                                </p>
                                <a href="{% url 'bike_rental_offers' bikemodel.brand.name bikemodel.id %}" class="btn btn-primary btn-sm">View Offers</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p class="text-center">No motorcycles found</p>
                </div>
            {% endfor %}
        </div>

        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM fully loaded');
    const expertFiltersBtn = document.getElementById('expertFiltersBtn');
    const expertFilters = document.getElementById('expertFilters');
    const expertFiltersIcon = document.querySelector('#expertFiltersBtn i');
    const filterForm = document.getElementById('filterForm');

    expertFiltersBtn.addEventListener('click', function(event) {
        event.preventDefault();
        expertFilters.style.display = expertFilters.style.display === 'none' ? 'block' : 'none';
        expertFiltersIcon.classList.toggle('bi-chevron-down');
        expertFiltersIcon.classList.toggle('bi-chevron-up');
    });

    function toggleSelection(element, inputId) {
        console.log('Toggling selection for:', inputId, element);
        element.classList.toggle('selected');
        updateHiddenInput(inputId);
    }

    function updateHiddenInput(inputId) {
        console.log('Updating hidden input for:', inputId);
        const dataAttribute = inputId.replace(/_/g, '-');
        const selectedElements = document.querySelectorAll(`[data-${dataAttribute}].selected`);
        const selectedValues = Array.from(selectedElements).map(el => el.getAttribute(`data-${dataAttribute}`));
        console.log('Selected values:', selectedValues);
        document.getElementById(inputId).value = selectedValues.join(',');
        console.log('Updated hidden input value:', document.getElementById(inputId).value);
    }

    const filterGroups = [
        { selector: '#typeFilters .type-filter-item', inputId: 'bike_type' },
        { selector: '#ridePurposeFilters .ride-purpose-filter-item', inputId: 'ride_purpose' },
        { selector: '#brand-filter .brand-logo-container', inputId: 'brand' },
        { selector: '#price-category-filter .price-category-item', inputId: 'price_category' },
        { selector: '#seat-height-filter .seat-height-category-item', inputId: 'seat_height' },
        { selector: '#weight-filter .weight-category-item', inputId: 'weight' }
    ];

    filterGroups.forEach(group => {
        console.log('Setting up event listeners for:', group.selector);
        document.querySelectorAll(group.selector).forEach(item => {
            item.addEventListener('click', function() {
                console.log('Filter item clicked:', this);
                toggleSelection(this, group.inputId);
            });
        });
    });

    filterForm.addEventListener('submit', function(event) {
        console.log('Form submission started');
        event.preventDefault();
        filterGroups.forEach(group => {
            console.log('Updating hidden input before submission:', group.inputId);
            updateHiddenInput(group.inputId);
        });
        console.log('Hidden inputs before submission:', Array.from(filterGroups).map(group => document.getElementById(group.inputId).value));
        console.log('Form being submitted');
        this.submit();
    });

    // Восстановление выбранных фильтров при загрузке страницы
    filterGroups.forEach(group => {
        console.log('Restoring selected filters for:', group.inputId);
        const selectedValues = document.getElementById(group.inputId).value.split(',').filter(Boolean);
        console.log('Selected values from hidden input:', selectedValues);
        document.querySelectorAll(group.selector).forEach(item => {
            const itemValue = item.getAttribute(`data-${group.inputId.replace(/_/g, '-')}`);
            if (selectedValues.includes(itemValue)) {
                console.log('Restoring selection for item:', item);
                item.classList.add('selected');
            }
        });
    });
});
</script>
{% endblock %}