{% extends 'base.html' %}

{% block title %}Order Confirmation{% endblock %}

{% block header %}Order Confirmation{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Order Details</h5>
            <dl class="row">
                <dt class="col-sm-4">Order ID:</dt>
                <dd class="col-sm-8">{{ order.id }}</dd>
                <dt class="col-sm-4">Client:</dt>
                <dd class="col-sm-8">{{ order.client.name }}</dd>
                <dt class="col-sm-4">Bike:</dt>
                <dd class="col-sm-8">{{ order.bike.bike_model }}</dd>
                <dt class="col-sm-4">Start Date:</dt>
                <dd class="col-sm-8">{{ order.start_date }}</dd>
                <dt class="col-sm-4">Duration:</dt>
                <dd class="col-sm-8">{{ order.duration }} days</dd>
                <dt class="col-sm-4">Number of Bikes:</dt>
                <dd class="col-sm-8">{{ order.amount_bikes }}</dd>
                <dt class="col-sm-4">Total Price:</dt>
                <dd class="col-sm-8">${{ order.total_price }}</dd>
            </dl>
        </div>
    </div>
    <a href="{% url 'bikemodel_list' %}" class="btn btn-secondary mt-4"><i class="bi bi-arrow-left me-2"></i>Back to Bike Models</a>
{% endblock %}
